* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif }
    
body{ 
    background-color:#8A51FC
}

main{
   
   height: 600px;
   width:50vw; 
   background: #F4F4F4;
   border-radius: 20px;
   margin: auto;
   text-align: center;
   
 

}
.logo{ 
   
    margin-top:5vh;
    width: 10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

label{

    font-weight:400;
    font-size: 30px;
}
 select, input{
     font-weight:400;
     font-size: 30px;
     width: 95%;
     height: 50px;
     border: 1px solid #BBBBBB;
    background: #FFFFFF;
    cursor: pointer;
 }
.bottom{
    padding-top:10px;
    font-weight:700;
    display:block;
    background:#8a51fc;
    border-radius:5px;
    width:95%;
    border:none;
    height:50px;
    margin: 15px auto;
    color:#FFFF;
    cursor: pointer;
}

 section{
    
    font-weight: 700;
    font-size: 20px;
    color: #777777;
    cursor: pointer;
}
 p{
    font-weight: 700;
    font-size:20px;
 }

 .bandeiras{
    display: flex;
    flex-direction:column;
    align-items:center;
    gap:8px;
    background:#FFFF;
    height:300px;
    width:95%; 
    border-radius:30px;
    border: 3px solid #8a51fc;
    text-align:center;
     margin:30px auto;
}
 
 @media(max-width:600px){ 
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Roboto", sans-serif }
        
    body{ 
        background-color:#8A51FC
    }
    
    main{
       
       height: 600px;
       width:55vw; 
       background: #F4F4F4;
       border-radius: 20px;
       margin: auto;
       text-align: center;
    }
    .logo{ 
       
        margin-top:5vh;
        width: 15vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    
    }
    
    label{
    
        font-weight:400;
        font-size: 3vw;
        
    }
    section{
        
        font-weight: 400;
        font-size: 1vw;
    }
     select{
         font-weight:700;
         font-size: 3vw;
     }
     p{
        font-weight: 700;
        font-size:3vw;
     }
 }










